:root {
  --Primary: #2175BB;
  --Secondary: #010123;
  --lightblue:#27A8E1;
  --Bg: #FFFBFA;
  --Rate: #E55D11;
  --White: #fff;
  --Black: #000;
  --Lightgrey: #CBC9F0;
  --Lightpink: #FFBFCD;
  --Lightgreen: #BFF0FF;

  /* font weight */
  --100: 100;
  --200: 200;
  --300: 300;
  --400: 400;
  --500: 500;
  --600: 600;
  --700: 700;
  --800: 800;

  /* font family */
  --Aleo: "Aleo", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--Aleo);
}
a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
img,
figure {
  text-decoration: none;
  padding: 0px;
  margin: 0px;
  outline: none;
}
ul,
ol,
li {
  list-style-type: none;
  margin: 0px;
}
input,
textarea,
select,
input[type="text"],
input[type="email"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
input:focus,
textarea:focus,
select:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="button"]:focus,
input[type="submit"]:focus {
  outline: none;
}
a:hover,
a:focus {
  text-decoration: none;
}

h1 {
  font-size: 80px;
  font-weight: var(--700);
}
h2 {
  font-size: 48px;
  font-weight: var(--700);
}
h3 {
  font-size: 36px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

::-ms-input-placeholder  , textarea::-webkit-input-placeholder , textarea:-moz-placeholder , textarea::-moz-placeholder , textarea:-ms-input-placeholder {
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  color: #534F4C;
}

::placeholder , textarea:placeholder {
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  color: #534F4C;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  /* margin: 0 -15px; */
}
section {
  padding: 120px 0;
  display: block;
  width: 100%;
  z-index: 11;
  position: relative;
  /* overflow: hidden; */
}

button{
  background-color: transparent;
  border: none;
}

.title-box {
  margin-bottom: 50px;
}
.title-box span {
  color: var(--Primary);
  font-weight: var(--400);
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 16px;
  display: block;
}

.title-box h2{
  margin-bottom: 30px;
}

.buttonBox{
  background-image: url(../images/svg/button.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 183px;
  height: 48px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  color: var(--White);
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  margin-left: -15px;
}

/* Menu Button 3 */
.menu-btn-3 {
  height: 32px;
  width: 40px;
  cursor: pointer;
  display: none;
}

.menu-btn-3 span,
.menu-btn-3 span::before,
.menu-btn-3 span::after {
  background: var(--Primary);
  content: "";
  position: absolute;
  width: 40px;
  height: 4px;
  border-radius: 10px;
  margin-top: 13px;

  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(deg);
  transform: rotate(180deg);

  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.menu-btn-3 span::before {
  margin-top: -12px;
}

.menu-btn-3 span::after {
  margin-top: 12px;
}

.menu-btn-3.active span {
  background: transparent;
}

.menu-btn-3.active span::before {
  margin-top: 0;

  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menu-btn-3.active span::after {
  transform: rotate(-45deg);
  margin-top: 0;
}

body.open{overflow: hidden;}
