/* header */
html {
  scroll-behavior: smooth;
}
header{scale: 85%; padding: 10px 0;position: fixed;top: 1vw;left: 10%;width: 80%;z-index: 111;transition: all 0.4s ease-in-out; align-items: center; border-radius: 20px}
header .link-div a {max-width: 112px;height:83px;display: block;color: var(--Black);font-size: 30px;font-weight: var(--400);line-height: 20px;letter-spacing: 0.252px;}
header .row{justify-content: space-between;}
header nav{display: flex; align-items: center; }
header nav ul{display: flex;}
header nav ul li:not(:last-child){padding-right: 40px;}
header nav ul li a{padding-bottom: 10px; color:#fff;font-size: 130%;font-weight: var(--500);line-height: 1;letter-spacing: 0.2px;border-bottom: 1px solid transparent; transition: all 0.4s ease-in-out; }
/* header nav ul li:hover a{border-color: var(--Primary);color: var(--lightblue);} */
header nav ul li a.active{color: var(--Black);}
header.scrolling_class{ backdrop-filter: blur(10px); box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
header.scrolling_class nav ul li a {color: var(--Primary);}
.mobile-ul{display: none;}
.mobile-ul {color: white;}
/* header.scrolling_class nav ul li:hover a {border-color: var(--White);color: var(--White);}
header.scrolling_class .link-div a{color: var(--White);} */
/* added comment */
header a {
position: relative;
}
header a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: var(--Primary);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
header a:hover:after {   width: 100%;   left: 0; }


.aboutusHeading    {
  padding-top: 20px;
  position: relative;
}
.aboutusHeading:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 4px;
  /* left: 50%; */
  position: absolute;
  background: var(--Primary);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.aboutusHeading:hover:after {   width: 55%;   left: 0; }


/*  hide navbar animation  */ 

.notgone{
  transform: translateY(-150px) scale(0.8);
}

.gone{
  transform: translateY(20px) scale(1);
}

/*
.productsHeading    {
  color: red;
  position: relative;
}
.productsHeading:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 4px;
  left: 70%;
  position: absolute;
  background: var(--Primary);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.productsHeading:hover:after {   width: 56%;   left: 0; } */


.product-slider .swiper{padding: 0 25px;}
.product-slider .swiper-button-next,.product-slider .swiper-button-prev{margin-top: -100px; box-shadow: 0px 4px 6px -2px #0000000A;background: #FFFFFF;width: 60px;height: 60px;border-radius: 50%;overflow: hidden;display: flex;align-items: center;justify-content: center;padding: 10px;}
.product-slider .swiper-button-next:after, .product-slider .swiper-button-prev:after{color: #000;font-size: 25px;font-weight: 700;}
.product-slider .swiper-button-next, .product-slider .swiper-rtl .product-slider .swiper-button-prev{top:60%; right: 0px;}
.product-slider .swiper-button-prev, .product-slider .swiper-rtl .product-slider .swiper-button-next{top:60%; left: 0px;}

#myVideo {
  position: absolute;
  object-fit: cover;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
}

.banner-section{position: relative; height: 100vh; display: flex;align-items: center;}
.backgroundimage{background-image: url(../images/banner-bg.jpeg);background-repeat: no-repeat;background-position: center;background-size: cover;}
.banner-wrapper{display: flex;align-items: center;justify-content: space-between;width: 100%;position: relative;z-index: 1;}
.banner-section::before{content: '';background-color: rgba(0, 0, 0, 0.8);width: 100%;height: 100%;position: absolute;inset: 0;}
.banner-right{padding: 50px 0;}
.banner-right h1{color: #fff;}
.banner-right h1 > div{display: inline-block;color: var(--Primary);}
.banner-left , .banner-right {width: 100%;text-align: center;margin-bottom: 0;}
.banner-left figure { width: 575px; height: 630px; }
.banner-left figure img {width: 100%;height: 100%;}

.benefites-wrapper{display: flex;align-items: center;justify-content: space-between;width: 100%;}
.benefites-right , .benefites-left {width: 50%;}
.benefites-left{padding-right: 100px;}
.benefites-right figure{ width: 580px;height: 680px; }
.benefites-right figure img{width:100%;height: 100%;}
.list-li{margin-bottom: 20px;}
.list-li li{font-size: 20px;font-weight: 400;line-height: 24px;}
.list-li li:not(:last-child){margin-bottom: 15px;}

.products-section .title-box{width: 65%; margin: 0 auto 70px; text-align: center; }
.product-slider{width: 100%;display: flex;}
.product-box {width: 100%;padding: 0;}
/* .product-box:first-child{padding-left: 0;}
.product-box:last-child{padding-right: 0;} */
.product-box p{font-size: 20px;font-weight: 400;line-height: 30px;color: #534F4C;margin-bottom: 20px;display: none;}
.product-box span{font-size: 24px;font-weight: 700;line-height: 28px;color: #E55D11;display: none;}
.product-titlebox{display: flex; justify-content:center; align-items: center;margin-bottom: 15px;width: 100%;}
.product-titlebox figure{display: none;}
.product-box > figure { width: 100%;height: 400px; background-color: #CBC9F0;overflow: hidden;margin-bottom: 20px;}
.product-box > figure img{width: 100%;height: 100%;}


.about-wrapper{display: flex;justify-content: space-between;width: 100%;}
.about-right , .about-left {width: 50%;}
.about-right figure {margin-top: 6%;margin-right: 20%;width: 110%;height: 525px;}
.about-right figure img {width: 100%;height: 100%;object-fit: cover;}
.about-left{padding-left: 100px;}
.about-wrapper p{font-size: 20px;font-weight: 400;line-height: 30px;color: #534F4C;margin-bottom: 20px;}

.subscribe-section{background-color: #e4faff;}
.subscribe-section h3{color: #fff;padding-right: 110px;}
.wrapper{display: flex;align-items: center;justify-content: space-between;width: 100%;}
.subscribe-right , .subscribe-left {width: 50%;height: 100%;}
.subscribe-right{padding-left: 50px;}
.subscribe-right input ,.subscribe-right textarea{border: none;width: 100%;display: block;height: 65px;background-color: #fff;border-radius: 5px;padding: 20px;box-shadow: 0px 10px 15px -3px #00000014;font-size: 20px;color: #534F4C;font-weight: 400;}
.subscribe-right form{position: relative;}
.subscribe-right button{cursor: pointer;}
.subscribe-right textarea{resize: none;height: 100px;}
.form-grp{display: block;}
.form-grp:not(:last-child){margin-bottom: 30px;}
.subscribe-left iframe{width: 100%; height: 100%;}
.subscribe-section .title-box {text-align: center;width: 100%;}
.subscribe-section .title-box h2{color: #0d3b4c;}


footer{padding: 100px 0;background-color: #FFFBFA;}
footer .link-div a { margin-bottom: 20px; max-width: 112px;height: 21px;display: block;color: var(--Black);font-size: 30px;font-weight: var(--400);line-height: 20px;letter-spacing: 0.252px;}
.footer-left{padding-bottom: 80px;width: 38%;}
.footer-left p{font-size: 16px;font-weight: 400;line-height: 22px;width: 40%;}
.copy-right{padding-top: 34px;border-top: 1px solid #888C9B;width: 100%;}
.copy-right strong {font-size: 14px;font-weight: 400;line-height: 22px;color: #534F4C;}
.footer-right{display: flex;width: 24%;}
.footer-menu {width: 50%;}
.footer-menu h4{font-size: 24px;font-weight: 400;line-height: 24px;color: #000929;margin-bottom: 20px;display: block;}
.footer-menu ul a{font-size: 16px;font-weight: 400;line-height: 24px;color: #000929;}
.footer-menu ul li:not(:last-child){margin-bottom: 15px;}
footer h3 {  padding-bottom: 5%; }

/* footer{padding: 100px 0;background-color: #FFFBFA;}
footer .link-div a { margin-bottom: 20px; max-width: 112px;height: 21px;display: block;color: var(--Black);font-size: 30px;font-weight: var(--400);line-height: 20px;letter-spacing: 0.252px;}
.footer-left{padding-bottom: 80px;width: 40%;}
.footer-left p{font-size: 16px;font-weight: 400;line-height: 22px;width: 40%;}
.copy-right{padding-top: 34px;border-top: 1px solid #888C9B;width: 100%;}
.copy-right strong {font-size: 14px;font-weight: 400;line-height: 22px;color: #534F4C;}
.footer-right{display: flex;width: 60%;}
.footer-menu {width: 50%;}
.footer-menu h4{font-size: 24px;font-weight: 400;line-height: 24px;color: #000929;margin-bottom: 20px;display: block;}
.footer-menu ul a{font-size: 16px;font-weight: 400;line-height: 24px;color: #000929;}
.footer-menu ul li:not(:last-child){margin-bottom: 15px;} */

.service-section{background-color: #e4faff;}
.service-section > * {color: #0d3b4c !important;}
.service-wrapper{display: flex;flex-wrap: wrap;width: 100%;}
.service-wrapper .title-box{width: 100%;text-align: center;}
.service-wrapper .title-box h2{margin-bottom: 10px;}
.service-main {display: flex;flex-wrap: wrap;}
.service-main .service {flex: 0 0 25%;max-width: 25%;padding: 30px 15px;background: transparent;font-size: 15px;border-radius: 5px;text-align: center;cursor: pointer;transition: 0.5s;}
.service h3 {font-size: 20px;}
.service figure { width: 100px; height: 100px; margin: 0 auto 20px ; }
.service figure img {width: 100%;height: 100%;object-fit: cover;}
.service:hover {scale: 110%; }
